 @media(max-width: 37.5rem) {
      
    .efeito{
        position: relative;
        animation: efeito 5s infinite;
        animation-direction: alternate-reverse;  
    }
    @keyframes efeito {
        from {left: -5rem;}
        to {left: 5rem;}
      }

    .header{
        width: 100%;
        

    }
    .header nav{
        align-items: center;
        flex-direction: column;
    }

    .header nav a{
        font-size: 0.9rem;
    }

    main{
        
        width: 100%;
    }

    .section{
        height: 270px;
        width: 100%;
    }

    .section .img__escudo{
        display: none;
    }

    .texto{
        width: 37.5rem;
       
        
    }

    .section .texto p{
       font-size: 0.8rem;
       margin: 0 0.5rem;
    }

    .section__img{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .section__img .bia_1{
        display: none;
    }

    .section__img .bia{
        width: 15rem;
    }

    .footer{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .footer .footer__rodape{
        width: 100%;
        justify-content: space-evenly;
      
    }

    .footer__rodape .brasao_brasil{
        margin-right: 30px;
        width: 5rem;
    }

  
} 

@media(min-width:37.6rem) and (max-width:60rem){
  .section{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .section__img{
     flex-direction: column;
     align-items: center;
     gap: 15px;
     margin-top: 100px;
  }

  .section__img .bia_1{
    position: relative;
    top: 0;
    left: 110px;
    width: 65%;
    border-radius: 30px;
  }
  .section__img .bia{
    width: 120%;
    border-radius: 30px;
  }

  .aneis_olimpiadas{
    width: 100%;
    position: relative;
    left: 40px;
  }

   .footer__rodape .brasao_brasil{
    margin-right: 20px;
    width: 5rem;
   }

   .footer__rodape a{
    width: 5rem;
   }
}